.container {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(4, 1fr);
  gap: 4.8rem;
  position: relative;

  .card {
    min-width: 32rem;
    min-height: 18rem;
    position: relative;
    overflow: hidden;

    .imageContainer,
    .contentContainer {
      position: absolute;
      height: 100%;
      top: 0;
    }

    .imageContainer {
      width: 100%;
      left: -25%;
    }

    .contentContainer {
      background-color: #ffffff;
      color: #1a1a1a;
      width: 60%;
      right: 0;
      padding: 1.2rem 0;
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      h2 {
        font-size: 2.8rem;
      }

      h3 {
        font-size: 2.1rem;
        font-weight: 400;
      }

      p {
        font-size: 1.6rem;
        margin: 0.5em 0;
      }
    }
  }
}

#footnote {
  margin: 3.2rem auto;
  width: fit-content;

  p {
    font-size: 1.4rem;
    font-style: italic;
  }
}

@media screen and (min-width: 30em) {
  .container .card {
    width: 42rem;
    height: calc(42rem / 1.77777);
  }
}

@media screen and (min-width: 48em) {
  .container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    .card {
      width: 32rem;
      height: 18rem;

      &:nth-child(1),
      &:nth-child(3) {
        justify-self: end;
      }

      &:nth-child(2),
      &:nth-child(4) {
        justify-self: start;
      }
    }
  }
}

@media screen and (min-width: 54em) {
  .container .card {
    width: 36rem;
    height: calc(36rem / 1.77777);
  }
}

@media screen and (min-width: 60em) {
  .container .card {
    width: 42rem;
    height: calc(42rem / 1.77777);
  }
}

@media screen and (min-width: 70em) {
  .container .card {
    width: 48rem;
    height: calc(48rem / 1.77777);
  }
  .container .card .contentContainer {
    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  #footnote {
    margin: 4.8rem auto;
  }
}

@media screen and (min-width: 80em) {
  .container {
    gap: 6.4rem;

    .card {
      width: 54rem;
      height: calc(54rem / 1.77777);
    }
  }
}

@media screen and (min-width: 90em) {
  .container .card {
    width: 64rem;
    height: calc(64rem / 1.77777);
  }
  .container .card .contentContainer {
    h2 {
      font-size: 3.6rem;
    }
    p {
      font-size: 2.1rem;
    }
  }
}
