.card {
  min-width: 32rem;
  min-height: 18rem;
  position: relative;
  overflow: hidden;

  .imageContainer,
  .contentContainer {
    position: absolute;
    height: 100%;
    top: 0;
  }

  .imageContainer {
    width: 100%;
    left: -25%;
  }

  .contentContainer {
    background-color: #ffffff;
    color: #1a1a1a;
    width: 60%;
    right: 0;
    padding: 1.2rem 0;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    h2 {
      font-size: 2.8rem;
    }

    h3 {
      font-size: 2.1rem;
      font-weight: 400;
    }

    p {
      font-size: 1.6rem;
      margin: 0.5em 0;
    }
  }
}

@media screen and (min-width: 30em) {
  .card {
    width: 42rem;
    height: calc(42rem / 1.77777);
  }
}

@media screen and (min-width: 48em) {
  .card {
    width: 32rem;
    height: 18rem;

    &:nth-child(1),
    &:nth-child(3) {
      justify-self: end;
    }

    &:nth-child(2),
    &:nth-child(4) {
      justify-self: start;
    }
  }
}

@media screen and (min-width: 54em) {
  .card {
    width: 36rem;
    height: calc(36rem / 1.77777);
  }
}

@media screen and (min-width: 60em) {
  .card {
    width: 42rem;
    height: calc(42rem / 1.77777);
  }
}

@media screen and (min-width: 70em) {
  .card {
    width: 48rem;
    height: calc(48rem / 1.77777);
  }
  .card .contentContainer {
    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width: 80em) {
  .card {
    width: 54rem;
    height: calc(54rem / 1.77777);
  }
}

@media screen and (min-width: 90em) {
  .card {
    width: 64rem;
    height: calc(64rem / 1.77777);
  }
  .card .contentContainer {
    h2 {
      font-size: 3.6rem;
    }
    p {
      font-size: 2.1rem;
    }
  }
}
