#buttonContainer {
  #buttonLeft,
  #buttonRight {
    display: none;
  }
}

#galleryContainer {
  width: 100%;
  height: 24rem;
  display: grid;
  grid-auto-flow: column;
  gap: 0.8rem;
  overflow-x: auto;
  padding: 0 1.6rem;
  scroll-behavior: smooth;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .imageContainer {
    width: 17.4rem;
    height: 11.6rem;
    position: relative;

    &.vertical {
      width: 16rem;
      height: 24rem;
      grid-row: span 2;
    }
  }
}

@media screen and (min-width: 64em) {
  #buttonContainer {
    position: absolute;
    width: 100vw;
    height: 48rem;

    #buttonLeft,
    #buttonRight {
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 100%;
      display: unset;
      padding: 0.5em 1.5em;
      cursor: pointer;
      border: none;
      background-color: rgba(#1a1a1a, 0.4);
      position: absolute;
      z-index: 100;
      transition: 0.1s all;

      span {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 100%;
        background: url("/arrow-sm.png");
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
      }
    }

    #buttonLeft {
      transform: translateY(-50%) rotate(90deg);
      top: 50%;
      left: 4.8rem;

      &:hover {
        left: 4.2rem;
      }
    }

    #buttonRight {
      transform: translateY(-50%) rotate(-90deg);
      top: 50%;
      right: 4.8rem;

      &:hover {
        right: 4.2rem;
      }
    }
  }

  #galleryContainer {
    height: 48rem;
    gap: 1.6rem;
    position: relative;

    .imageContainer {
      width: 34.8rem;
      height: 23.2rem;

      &.vertical {
        width: 32rem;
        height: 48rem;
      }
    }
  }
}
