#galleryContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 36rem);
  gap: 6rem;
  //   gap: 5rem;
  padding: 0 1.6rem;
  margin-bottom: 5.2rem;

  .imageContainer {
    // width: 30rem;
    // height: 20rem;
    width: 36rem;
    height: 24rem;
    position: relative;

    &.vertical {
      //   width: 30rem;
      //   height: 45rem;
      width: 36rem;
      height: 54rem;
      grid-row: span 2;
    }
  }
}
