.container {
  width: 90%;
  max-width: 102.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  #imageContainer {
    margin-bottom: 2.4rem;

    img {
      border-radius: 100%;
    }
  }

  #contentContainer > p {
    margin: 1em 0;
  }
}

@media screen and (min-width: 64em) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 3.2rem;

    #imageContainer {
      margin-bottom: 0;
      margin-top: 2.1rem;
      min-width: 32rem;
      flex-grow: 1;
    }
  }
}

@media screen and (min-width: 80em) {
  .container #imageContainer {
    min-width: 36rem;
  }
}

@media screen and (min-width: 90em) {
  .container #imageContainer {
    min-width: 42rem;
  }
}
