#formContainer {
  width: 90%;
  max-width: 102.4rem;
  margin: 0 auto;

  #form {
    #nameContainer {
    }
    #emailContainer {
    }
    #phoneContainer {
    }
    #photoshootContainer {
    }
    #dateContainer {
    }
    #locationContainer {
    }
    #messageContainer {
    }
  }
}
