#footerContainer {
  width: 100%;
  height: 4.8rem;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.2rem;

  #copyright {
    text-align: center;
    font-size: 1.6rem;
  }
}

// size.width < 1024 || size.height < 480
@media screen and (min-width: 64em) and (min-height: 30em) {
  #footerContainer {
    margin: 0;
  }
}
