/* <button className="button">{Text}<span></span></button> */
.button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #eee;
  z-index: 1;
  font-family: inherit;
  font-weight: 700;
}

.button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #eee;
}

.button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: #121212;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #eee;
}

.button:hover {
  color: #121212;
}

.button:active span::before {
  background: #b4b4b4;
}

.pageHeader {
  text-align: center;
  text-transform: uppercase;
  padding: 3.2rem 0 5.2rem;

  h1 {
    font-size: 4.2rem;
    margin: 0.1em 0;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #cccccc;
  }
}

@media screen and (min-width: 30em) {
  .pageHeader h2 {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 48em) {
  .pageHeader {
    padding: 5.2rem 0;

    h1 {
      font-size: 4.8rem;
      // font-size: 6.4rem;
    }

    h2 {
      font-size: 2.8rem;
      // font-size: 3.6rem;
    }
  }
}
